<head> <style> article:nth-child(1) p:nth-child(odd)

{
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    color: green;
}

article:nth-child(2) p:nth-child(odd) {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    color: green;
}

table {
    width: 500px;
}

tr:nth-child(odd) {
    background-color: skyblue;
    color: gray
}

tr:nth-child(even) {
    background-color: darkblue;
    color: white
}

tr:nth-child(7) {
    background-color: white;
    color: gray;
}

tr:nth-child(1) {
    background-color: orange;
    color: gray
}

    tr:nth-child(1) td:nth-child(1) {
        background-color: white
    }

td:nth-child(1) {
    font-weight: 600;
}

tr:hover {
    background-color: beige
}

td:hover {
    background-color: darkslategray;
    border-bottom: 1px solid gray
}

table {
    border-bottom: 1px solid gray
}

</style >
}